.lightMode .text-box {
  border: 2px solid var(--gray-2);
}

.text-box {
  border: 2px solid transparent;
  outline: 0;

  padding: 1.6rem;
  border-radius: 8px;
  background-color: var(--secondary-details);
  color: var(--primary);

  &:focus {
    border-color: var(--purple);
  }
}