:root {
  font-size: 10px;

  @media screen and (min-width: 1200px) {
    font-size: 12px;
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--secondary);
  color: var(--primary);
}

body, input, button, textarea {
  font: 400 1.6rem 'Roboto', sans-serif;
}

@keyframes modalAnimation {
  from {
    transform: scale(0.60);
  }
  to {
    transform: scale(1);
  }
}