:root {
  font-size: 10px;

  @media screen and (min-width: 1200px) {
    font-size: 12px;
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app_container {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--white-bg);
  color: var(--black);
}

body, input, button, textarea {
  font: 400 1.6rem 'Roboto', sans-serif;
}