@keyframes modalAnimation {
  from {
    transform: scale(0.60);
  }
  to {
    transform: scale(1);
  }
}

#modal-container {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  inset: 0;
  z-index: 1000;
  
  background-color: rgba(5, 2, 6, 0.8);
}