.lightMode {
  --black: #29292E;
  --shadow: #050206;
  --purple: #835AFD;
  --danger: #E73F5D;
  
  --gradient-color-1: #485BFF;
  --gradient-color-2: #FF59F8;

  --gray-dark: #737380;
  --gray-medium: #A8A8B3;
  --gray-light: #DBDCDD;
  
  --white-bg: #F8F8F8;
  --white-details: #FEFEFE;
  
  --pink-dark: #E559F9;
  --pink-light: #D67EE2;
  
  --hover-purple: #6F4BD8;
  --hover-danger: #D73754;
  --hover-gray-medium: #7E7E86;
  --hover-gray-light: #CECECE;
}

.darkMode {
  --black: #29292E;
  --shadow: #050206;
  --purple: #835AFD;
  --danger: #E73F5D;
  
  --gradient-color-1: #485BFF;
  --gradient-color-2: #FF59F8;

  --gray-dark: #737380;
  --gray-medium: #A8A8B3;
  --gray-light: #DBDCDD;
  
  --white-bg: #FF0000;
  --white-details: #FEFEFE;
  
  --pink-dark: #E559F9;
  --pink-light: #D67EE2;
  
  --hover-purple: #6F4BD8;
  --hover-danger: #D73754;
  --hover-gray-medium: #7E7E86;
  --hover-gray-light: #CECECE;
}

.themeButton {
  position: fixed;
  top: 10px;
  left: 10px;

  display: none;
}