@keyframes slideDown {
  0% { top: -20rem; }
  10% { top: 2rem; }
  90% { top: 2rem; }
  100% { top: -20rem; }
}

#toast-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  
  animation: slideDown 3000ms;
  background-color: var(--secondary);
  
  width: 35rem;
  height: 5rem;
  border-radius: 0.8rem;
  
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  
  span {
    color: var(--primary);
  }

  img {
    height: 80%;
    margin-left: 1rem;
    align-self: flex-start;
  }
  
  &.error-toast {
    border: 0.2rem solid var(--danger);
  }
  
  &.success-toast {
    border: 0.2rem solid var(--purple);
  }

  &.alert-toast {
    border: 0.2rem solid var(--alert);
  }
}