.question-card {
  background-color: var(--white-details);
  color: var(--black);
  border: 0.1rem solid transparent;

  padding: 1.6rem;
  border-radius: 0.8rem;

  & + .question-card {
    margin-top: 1rem;
  }

  &.answered {
    background-color: var(--gray-light);

    .check-answered-button .icon-path {
      stroke: var(--purple);
    }
  }

  &.highlighted {
    border-color: var(--purple);
    background-color: var(--pink-light);
  }

  p {
   font-size: 1.6rem;
   font-weight: 500;
  }
  
  .question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 1.6rem;
  }

  .author-info {
    display: flex;
    align-items: center;

    img {
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 50%;
    }

    span {
      margin-left: 0.8rem;
      color: var(--gray-dark);
      font-weight: 500;
      font-size: 1.4rem;
    }
  }

  .question-panel {
    display: flex;
    align-items: center;

    gap: 0.8rem;

    button {
      display: flex;
      gap: 0.8rem;

      transition: color 200ms;
      color: var(--black);

      P {
        transform: translateY(0.2rem);
      }

      &.liked {
        color: var(--purple);
        
        path {
          stroke: var(--purple);
        }
      }
    }
  }
}