.delete-button {
  &:hover .icon-path {
    stroke: var(--danger);
  }
}

#confirmation-modal {
  animation: modalAnimation 300ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 60rem;
  height: 36rem;

  background-color: var(--secondary);
  border-radius: 0.8rem;
  
  .icon-path {
    stroke: var(--danger);
  }

  img, svg {
    width: 4.8rem;
    height: auto;
    margin-bottom: 2.4rem;
  }

  h2 {
    font: 700 2.4rem 'Poppins', sans-serif;
    margin-bottom: 1.2rem;
  }

  p {
    font: 400 1.6rem 'Roboto', sans-serif;
    margin-bottom: 4rem;
  }

  div {
    display: flex;
    gap: 1.6rem;

    button:first-child {
      width: 18rem;
      background-color: var(--gray-1);
      color: var(--gray-3);
      
      &:hover {
        background-color: var(--hover-gray-1);
      }
    }
    
    button:last-child {
      width: 18rem;
      background-color: var(--danger);
      color: var(--secondary-details);
      
      &:hover {
        background-color: var(--hover-danger);
      }
    }
  }
}
