.icon-button {
  cursor: pointer;
  font-size: 0;
  background-color: transparent;
  border: none;
  
  .icon-path {
    transition: stroke 200ms;
    stroke: var(--gray-3);
  }
 
  &:hover .icon-path {
    stroke: var(--purple);
  }
}